body {
  background: white; }
  body .my-create-button {
    background: #d30606;
    color: white; }
  body .my-create-button:hover {
    color: white;
    background: #b94c4c; }
  body .some-list {
    display: flex;
    padding: 0;
    list-style: none; }
    body .some-list li {
      display: inline-block;
      margin-left: 5px; }
  body p {
    font-size: 18px;
    text-align: justify; }
  body a {
    color: gray;
    font-weight: 700;
    text-decoration: none; }
  body a:hover {
    color: red; }
  body .create-button {
    width: 100%;
    height: 30px;
    border: none;
    background: #d30606;
    padding-top: 5px;
    text-align: center; }
    body .create-button a {
      color: white;
      text-decoration: none; }
    body .create-button :hover {
      background: #b94c4c; }
  body .my-input-container textarea {
    width: 500px;
    height: 400px;
    max-width: none; }
  body .article-buttons-container {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: row-reverse; }
    body .article-buttons-container .article-buttons {
      display: inline-block;
      width: 70px;
      text-align: center; }
  body .article-actions {
    position: relative;
    width: 100%;
    padding-bottom: 15px; }
    body .article-actions ul {
      position: absolute;
      display: flex;
      width: 20%;
      right: 0;
      list-style: none; }
      body .article-actions ul li {
        display: inline-block;
        width: 50px;
        text-align: center;
        width: 33.33%; }
        body .article-actions ul li a {
          text-decoration: none;
          color: #000; }
        body .article-actions ul li a:hover {
          color: #d30606; }

.select-category-wrapper {
  margin: 15px 0;
  width: 100%;
  display: flex;
  text-align: center; }
  .select-category-wrapper .articles-menu {
    display: inline-flex;
    width: 50%; }
    .select-category-wrapper .articles-menu div {
      width: 25%;
      display: inline-block; }
      .select-category-wrapper .articles-menu div select {
        width: 100%;
        border: none;
        background: transparent;
        font-weight: 700; }
  .select-category-wrapper .second {
    display: inline-flex;
    width: 50%; }
    .select-category-wrapper .second .article-buttons {
      width: 50%;
      display: inline-block; }

.author-category-container div {
  display: inline-block; }

.categories-header {
  width: 100%;
  display: flex;
  margin: 20px 0;
  padding-right: 100px; }
  .categories-header div {
    display: inline-block;
    width: 25%; }
    .categories-header div h1 {
      margin: 0; }
  .categories-header .create-category {
    width: 75%;
    text-align: right; }

.categories-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0; }
  .categories-list .category {
    display: flex; }
    .categories-list .category .category-name {
      width: 25%;
      font-size: 2.5rem;
      font-weight: 700;
      display: inline-block;
      text-align: left; }
    .categories-list .category .category-buttons {
      width: 75%;
      display: inline-flex; }
      .categories-list .category .category-buttons div {
        width: 33.33%;
        text-align: center;
        display: inline-block; }

.user-header {
  margin-top: 20px;
  width: 100%;
  display: flex; }
  .user-header div {
    width: 16.66%;
    display: inline-block;
    font-size: 2rem;
    font-weight: 700; }

.user-list {
  width: 100%;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0; }
  .user-list .user {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid #f3f3f3; }
    .user-list .user div {
      display: inline-block;
      width: 16.66%;
      text-align: left;
      font-size: 1.5rem;
      font-weight: 700; }

.suggested-article-buttons {
  margin-left: 5px; }

.form-group {
  width: 100%;
  margin: 0;
  display: flex;
  margin-bottom: 10px; }
  .form-group .create-title {
    display: inline-flex;
    width: 25%; }
  .form-group .content {
    display: inline-block;
    width: 75%; }
    .form-group .content textarea {
      width: 100%;
      min-height: 400px;
      max-width: none; }

textarea {
  width: 100%;
  min-height: 400px;
  max-width: none; }

.create-header {
  display: flex;
  width: 100%; }
  .create-header div {
    width: 33.33%;
    display: inline-flex;
    padding-top: 20px; }
  .create-header .create-button-wrapper {
    position: relative; }
    .create-header .create-button-wrapper input {
      position: absolute;
      right: 0; }
